:root {
  --white: #ffffff;
  --black: #000000;
  --almost-black: #1a1a1a;
  --acid-green: #79FF39;
  --dark: #737373;
  --medium: #979797;
  --light: #dedede;
  --pink: #ff0aa9;
  --gridHeight: calc(100vw / 16 * 8.5);
  --transitionTiming: 0.3s;
}
